[submodule "testchain/lib/oasis-liquidity-provider"]
	path = testchain/lib/oasis-liquidity-provider
	url = https://github.com/daifoundation/oasis-liquidity-provider.git
[submodule "testchain/lib/exchange-callees"]
	path = testchain/lib/exchange-callees
	url = https://github.com/makerdao/exchange-callees.git
[submodule "testchain/lib/dss"]
	path = testchain/lib/dss
	url = https://github.com/makerdao/dss.git
	branch = liq-2.0
[submodule "testchain/lib/dss-interfaces"]
	path = testchain/lib/dss-interfaces
	url = https://github.com/makerdao/dss-interfaces.git
[submodule "testchain/lib/maker-otc-support-methods"]
	path = testchain/lib/maker-otc-support-methods
	url = https://github.com/daifoundation/maker-otc-support-methods.git
[submodule "testchain/lib/spells-kovan"]
	path = testchain/lib/spells-kovan
	url = https://github.com/makerdao/spells-kovan.git
	branch = intg-6937-liq-2
